{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/collection_list.css' %}">
{% endblock %}

{% block content %}

<div class="list-group">
    <a href="{% url 'mtg_set_list' %}" class="list-group-item list-group-item-action">View All Sets</a>
    <a href="#" class="list-group-item list-group-item-action">View My Sets</a>
    <a href="#" class="list-group-item list-group-item-action disabled">N/A</a>
    <a href="#" class="list-group-item list-group-item-action disabled">N/A</a>
</div>

{% endblock %}