{% extends "base.html" %}

{% block extrajs%}
<link href="https://unpkg.com/tabulator-tables@5.3.4/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.3.4/dist/js/tabulator.min.js"></script>
<script
			  src="https://code.jquery.com/jquery-3.6.1.min.js"
			  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
			  crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
{% csrf_token %}
<h2>{{card_set}}</h2>
<h4><button onclick="submit()" class="btn btn-success">Save Changes</button></h4>
<div>
    <select id="filter-field">
        <option></option>
        <option value="collector_number">Collector Number</option>
        <option value="name">Name</option>
        <option value="text">Text</option>
        <option value="flavour">Flavour</option>
        <option value="rarity">Rarity</option>
        <option value="type_line">Types</option>
    </select>

    <select id="filter-type">
        <option value="=">=</option>
        <option value="<"><</option>
        <option value="<="><=</option>
        <option value=">">></option>
        <option value=">=">>=</option>
        <option value="!=">!=</option>
        <option value="like">like</option>
    </select>

    <input id="filter-value" type="text" placeholder="value to filter">

    <button id="filter-clear">Clear Filter</button>
</div>

<div id="example-table"></div>

{% endblock %}

<script>
{% block inlinejs %}
    //Define variables for input elements
    var fieldEl = document.getElementById("filter-field");
    var typeEl = document.getElementById("filter-type");
    var valueEl = document.getElementById("filter-value");

    //Custom filter example
    function customFilter(data){
        return data.car && data.rating < 3;
    }

    //Trigger setFilter function with correct parameters
    function updateFilter(){
        var filterVal = fieldEl.options[fieldEl.selectedIndex].value;
        var typeVal = typeEl.options[typeEl.selectedIndex].value;

        var filter = filterVal == "function" ? customFilter : filterVal;

        if(filterVal == "function" ){
            typeEl.disabled = true;
            valueEl.disabled = true;
        }else{
            typeEl.disabled = false;
            valueEl.disabled = false;
        }

        if(filterVal){
            table.setFilter(filter,typeVal, valueEl.value);
        }
    }

    function clearFilterPartial(){
        typeEl.value = "=";
        valueEl.value = "";

        table.clearFilter();
    }

    //Update filters on value change
    document.getElementById("filter-field").addEventListener("change", updateFilter);
    document.getElementById("filter-type").addEventListener("change", updateFilter);
    document.getElementById("filter-value").addEventListener("keyup", updateFilter);
    document.getElementById("filter-value").addEventListener("beforeinput", testFunc);
    function testFunc(e){
        console.log(e);
        if(isNaN(e.data) === false){
            return;
        }
        if (e.data == "."){
            e.preventDefault();                
            clearFilterPartial();
            return;
        }

        if(table.rowManager.activeRows.length == 1){
            e.preventDefault();
            let _item = table.rowManager.activeRows[0];
            let new_num;
            if(["+", "-"].includes(e.data)){
                new_num = Number(_item.data.normal);                
            }else if(["/", "*"].includes(e.data)){
                new_num = Number(_item.data.foil);   
            }

            if(e.data =="+" || e.data == "*"){
                new_num += 1;
                if(e.data == "+"){
                    table.updateData([{id:_item.data.id, normal:new_num}]);
                }else{
                    table.updateData([{id:_item.data.id, foil:new_num}]);
                }
            } else if(e.data == "/" || e.data == "-"){
                if(new_num - 1 > -1){
                    new_num -= 1;
                    if(e.data == "-"){
                        table.updateData([{id:_item.data.id, normal:new_num}]);
                    }else{
                        table.updateData([{id:_item.data.id, foil:new_num}]);
                    }
                }
            }
        }
    }
    //Clear filters on "Clear Filters" button click
    document.getElementById("filter-clear").addEventListener("click", function(){
        fieldEl.value = "";
        typeEl.value = "=";
        valueEl.value = "";

        table.clearFilter();
    });

    //Build Tabulator
    var table = new Tabulator("#example-table", {
        pagination:"local",
        paginationSize:20,
        height:"90%",
        layout:"fitColumns",
        columns:[
            {title:'Collector Number', field:'collector_number'},
            {title:'Name', field:'name'},
            {title:'Text', field:'text',height:200, formatter:'textarea'},
            {title:'Flavour', field:'flavor',  formatter:'textarea'},
            {title:'Rarity', field:'rarity_id'},
            {title:'Types', field:'type_line'},
            {title:'Owned', field:'normal'},
            {title:'Foil Owned', field:'foil'}
        ],
        data:{{data|safe}},
    });

    function submit(){
        let data = table.getData();
        // Remove pointless data for faster request, gotta get that extra 0.1ms B) B) B)
        // TODO: should probably find way to remove data that has not been changed
        for (let index = 0; index < data.length; index++) {
            delete data[index]["artist"];
            delete data[index]["converted_cost"];
            delete data[index]["flavor"];
            delete data[index]["image"];
            delete data[index]["name"];
            delete data[index]["oracle_id"];
            delete data[index]["power"];
            delete data[index]["rarity_id"];
            delete data[index]["type_line"];
            delete data[index]["toughness"];
            delete data[index]["text"];
            delete data[index]["scryfall_id"];
            delete data[index]["mana_cost"];
            delete data[index]["image_flipped"];
        }

        $.ajax({
            url:"{{shorthand}}",
            type:"POST",
            data: {Data: JSON.stringify(data)},
            headers:{
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            
        });

        $(document).ajaxSuccess(function(event, xhr,settings){
            window.location.href = '/collection/mtg/';
        });
    }
{% endblock %}    
</script>
